<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <link rel="stylesheet" href="style.css"></link>
    <script type="text/javascript" src="../vendor/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="../vendor/angular-1.1.5.js"></script>
    <script type="text/javascript" src="modals.js"></script>
  </head>

  <body ng-controller="demoCtrl">

    <button ng-click="show('settings')">Settings</button>
    <button ng-click="show('composer')">Composer</button>
    <button ng-click="close()">Close</button>

    <fa-modal id="settings" class="modal" ng-show="open">
      <div class="content">
        <button class="close" ng-click="close()">X</button>
        <p>SETTINGS</p>
      </div>
    </fa-modal>

    <fa-modal id="composer" fa-composer class="modal" ng-show="open">
      <div class="content">
        <button class="close" ng-click="close()">X</button>
        <p>COMPOSER</p>
        <button ng-click="showSettings()">Show Settings</button>
      </div>
    </fa-modal>

  </body>
</html>