<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <title>Blockquote Demo</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"></meta>
    <link rel="stylesheet" href="style.css"></link>
    <script type="text/javascript" src="../vendor/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="../vendor/angular-1.1.5.js"></script>
    <script type="text/javascript" src="blockquote.js"></script>

    <script id="blockquote-tpl" type="text/ng-template">
      <div class="quote">
        <button ng-click="hidden = false" ng-show="hidden">Show More</button>
        <button ng-click="hidden = true" ng-hide="hidden">Hide</button>
        <div class="blockquote-target" ng-transclude ng-if="!hidden" ng-animate="'blockquote'"></div>
      </div>
    </script>

  </head>
  <body>
    <!-- http://thenextweb.com/shareables/2009/12/04/funniest-email-conversation/ -->
    <p>
      Dear Simon,<br><br>

So you have invented Twitter. Congratulations. This is where that time machine would definitely have come in quite handy.<br><br>

When I was about twelve, I read that time slows down when approaching the speed of light so I constructed a time machine by securing my father’s portable generator to the back of my mini-bike with rope and attaching the drive belt to the back wheel. Unfortunately, instead of traveling through time and finding myself in the future, I traveled about fifty metres along the footpath at 200mph before finding myself in a bush. When asked by the nurse filling out the hospital accident report “Cause of accident?” I stated ‘time travel attempt’ but she wrote down ‘stupidity’.<br><br>

If I did have a working time machine, the first thing I would do is go back four days and tell myself to read the warning on the hair removal cream packaging where it recommends not using on sensitive areas. I would then travel several months back to warn myself against agreeing to do copious amounts of design work for an old man wielding the business plan equivalent of a retarded child poking itself in the eye with a spoon, before finally traveling back to 1982 and explaining to myself the long term photographic repercussions of going to the hairdresser and asking for a haircut exactly like Simon LeBon’s the day before a large family gathering.<br><br>

Regards, David.
  <blockquote>
    You just crossed the line. You have no idea about the potential this project has. The technology allows users to network peer to peer, add contacts, share information and is potentially worth many millions of dollars and your short sightedness just cost you any chance of being involved.
    <blockquote>
      Dear Simon,<br><br>

You are correct and I apologise. Your last project was actually both commercially viable and original. Unfortunately the part that was commercially viable was not original, and the part that was original was not commercially viable.<br><br>

I would no doubt find your ideas more ‘cutting edge’ and original if I had traveled forward in time from the 1950′s but as it stands, your ideas for technology based projects, that have already been put into application by other people several years before you thought of them, fail to generate the enthusiasm they possibly deserve. Having said that though, if I had traveled forward in time, my time machine would probably put your peer to peer networking technology to shame as not only would it have commercial viability, but also an awesome logo and accompanying pie charts.<br><br>

Regardless, I have, as requested, attached a logo that represents not only the peer to peer networking project you are currently working on, but working with you in general.<br><br>

Regards, David.
      <blockquote>
        Is that supposed to be a fucking joke? I told you the previous projects did not go ahead. I invested a lot more time and energy in those projects than you did. If you put as much energy into the projects as you do being a dickhead you would be a lot more successful.
        <blockquote>
          Dear Simon,<br><br>

Disregarding the fact that you have still not paid me for work I completed earlier this year despite several assertions that you would do so, I would be delighted to spend my free time creating logos and pie charts for you based on further vague promises of future possible payment. Please find attached pie chart as requested and let me know of any changes required.
          <blockquote>
            Hello David,<br><br>

I would like to catch up as I am working on a really exciting project at the moment and need a logo designed. Basically something representing peer to peer networking. I have to have something to show prospective clients this week so would you be able to pull something together in the next few days? I will also need a couple of pie charts done for a 1 page website. If deal goes ahead there will be some good money in it for you.<br><br>

Simon
          </blockquote>
        </blockquote>
      </blockquote>
    </blockquote>
  </blockquote>
  </p>
  </body>
</html>